<div class="row">
	<div class="col-xs-12 well1">
		<div class="col-xs-5">
  			<img src={{model.image}} alt={{model.location}} width="512px">  			
		</div>
		<div class="col-xs-6">
  			<p>Name: {{model.name}}</p>  			
  			<p>Location: {{model.location}}</p>  			
  			<p>Distance: {{model.distance}}</p>  			
  			<p>Date: {{model.date}}</p>  			
  			<p>Time: {{model.time}}</p>  			  			
		</div>
		<div class="col-xs-1">  			
  			{{bs-button type="warning" class="close" icon="glyphicon glyphicon-remove" action="close"}}
		</div>
	</div>
</div>